/* ----- Body ----- */

body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin:0px;
    height: auto;
}

/* ----- Header ----- */
header{
    margin-right: 10px;
    margin-left: 10px;
    display:flex;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

/* Estilo de imagenes dentro del header menos el logo */
header img:not(.logo,.MenteMaestra){
    height: 60px;
}

header img:hover:not(.logo,.MenteMaestra){
    height: 65px;
    cursor: pointer;
}

/* Estilo del logo */

.logo{
    height: 400px;
    margin: 10px;
    border-radius: 100%;
}

/* Estilo de elementos dentro del div del header */

header div{
    display: flex;
    gap:100px;
    margin-right: 30px;
}

/* Estilo de buscador */
header input{
    width: 500px;
    border:1px solid transparent ;   
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease;
    outline:none;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 22px;
}

/*  ----- Footer ----- */
footer{
    height: auto;
}
/* Footer socios*/
footer .footersocios{
    margin-top: 10px;
    display: flex;
    height: 200px;
    gap: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.135);
}
footer h1{
    width: 700px;
    padding: 30px;
}
footer .footersocios img{
    height: 180px;
}

/* Footer informacion */
footer .footerinformacion{
    display: flex;
    gap: 200px;
    margin: 30px;
}
ul li{
    font-size: 30px;
    list-style: none;
    margin-bottom: 30px;   
}

